.section-title {
  text-align: center;
  padding-top: 60px;
}

.section-title h2 {
  font-weight: 900;
  font-size: 3em;
  color: #000;
  text-transform: uppercase;
}
.section-title h2 span {
  color: #ffb400;
}

.section-title p {
  width: 50%;
  margin: auto;
}
