* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Andada Pro', serif;
  background-image: url("../img/alinaImg/color-g3cd038797_1280.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  font-size: 1.2rem;
}

section iframe {
  width: 50%;
  height: 300px;
  margin-right: 0;
}

section .contact-form {
  border-top: 1px solid #8ad1bb;
  border-bottom: 1px solid #8ad1bb;
  width: 60%;
}

footer {
  font-size: .9rem;
}

footer .footer-col ul {
  padding-left: 0;
}

footer .footer-col ul li {
  list-style-type: none;
}

footer .footer-col ul li:hover {
  font-size: 1rem;
  cursor: pointer;
}

footer .footer-social-links a:hover {
  font-size: larger;
}

footer h4,
footer .footer-text {
  font-family: 'Satisfy', cursive;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  section iframe {
    width: 100%;
    min-height: auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  section iframe {
    width: 100%;
    min-height: auto;
  }
  footer div.footer-text {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  footer div.footer-text {
    font-size: 1rem;
  }
}
