* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  /* font-family: 'Andada Pro', serif; */
  line-height: 2rem;
  /* background:url("../img/alinaImg/color-g3cd038797_1280.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body canvas.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.c-section-images div.c-images img {
  width: 30%;
  margin-right: .5rem;
  margin-bottom: .5rem;
}
