* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
 
}

body {
    font-family:'Montserrat', sans-serif;

   section.c-customer-top {
       background-image: url(../img/alinaImg/colorful-gf7e4a87bd_640.png);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }

   section.c-customer-clients {
       img {
           width: 10%;
           height: 10%;
       }
       /* img.codeFactory {
           margin
       } */
   }
   
}

section.c-section-images {
    div.c-images {
        img {
            width: 30%;
            margin-right: .5rem;
            margin-bottom: .5rem;
        }
    }
}

footer {

    background-color: rgb(216, 208, 216);

    img.c-footer-logo {
        width: 15%;
        margin:-2rem 0 .8rem 0;
        
    }
  
    li:hover,
    a:hover {
        cursor: pointer;
        font-weight: bold;
    }

}

// media queries for x-small screen
@media screen  and (max-width: 576px) {

    footer {
        font-size: .8rem;
        h4 {
            font-size: 1rem;
        }

        div.c-footer-text {
            display: none !important;
        }
    }
}

// media queries for small screen
@media screen  and (min-width: 576px) and (max-width:767px){
    section {
        iframe {
        width: 100%;
        min-height: auto;
        }
    }
    footer {
        font-size: .8rem;
    
        .c-footer-text{
            p.c-firstP {
                margin:0 -1.5rem;
            }
            p.c-secondP {
                margin:0 -1rem;
            }
            img{
                width: 30%;
                margin-top:-1.8rem;
                
            }
        }
        
    }
}


// media queries for  medium screen
@media screen  and (min-width: 768) and (max-width: 991px) {
    
    section {
        iframe {
        width: 100%;
        min-height: auto;
        }
    }

}

// media queries for large screen
@media screen  and (min-width: 992px) and (max-width: 1199px) {
    section {

        iframe {
            width: 100%;
            min-height: auto;
        }
       
    }
}

// media queries for xl-xxl screen
@media screen  and (min-width: 1200px) {
  
    footer {
        
        p.c-secondP {
            margin-left:-1.7rem;
        }

        p.c-firstP {
            margin-right:-2.2rem;
        }
    }
}